<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
	<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
    <title>Pizza</title>
  </head>
  <body>
  <nav th:replace="fragments/navbar :: navbar('pizza')"></nav>
  <div class="container">
  <div th:if="${successMessage != null && successMessage != ''}" class="alert alert-success" th:text="${successMessage}"></div>
  	<h1>Menù</h1>
  	<hr/>
  	<a class="btn btn-primary" th:href="@{/add}">Add a pizza</a>
  
  	<table class="table" th:if="${pizzaList.size() > 0}">
  		<thead>
  			<tr>
  				<th>Nome</th>
  				<th>Descrizione</th>
  				<th>Prezzo (€)</th>
  				<th>Actions</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr th:each="p : ${pizzaList}">
  				<td th:text="${p.nome}">Nome</td>
  				<td th:text="${p.descrizione}">Descrizione</td>
  				<td th:text="${p.prezzo}">Prezzo</td>
  				
  				<td>
  					<a class="btn btn-primary" th:href="@{|/delete/${p.id}|}" title="Delete" onclick="return confirm('Are you sure?')">
  					<i class="fa-solid fa-trash-can"></i>
  					</a>
  					<a class="btn btn-primary" th:href="@{|/edit/${p.id}|}" title="Edit">
  					<i class="fa-solid fa-pen-to-square"></i>
  					</a>
  				</td>
  			</tr>
  		</tbody>
  	</table>
  </div>
 
  <div class="alert alert-info my-5" th:unless="${pizzaList.size() > 0}">
  	<h3>There are no pizza yet</h3>
  </div>
  	<th:block th:replace="fragments/risorse :: risorse-js"></th:block>
  </body>
</html>